.calendar-month {
  thead {
    th {
      text-align: center;
      &.weekday-name {
        color: gray;
      }
    }
  }

  .week-number {
    color: gray;
  }

  .day {
    padding: 5px;
    text-align: center;
    &.not-this-month {
      color: gray;
    }
  }
}
