{{#if shouldShowPreviousButton}}
  <a {{action "previous"}}> Previous </a>
{{/if}}

{{#each displayMonths as |month|}}
  {{calendar-month
    year=month.year
    month=month.month
    customClassFunction=customClassFunction
    showLastPartialWeek=month.showLastPartialWeek
    context=context}}
{{/each}}

{{#if shouldShowNextButton}}
  <a {{action "next"}}> Next </a>
{{/if}}